@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
}

html,
body {
  height: 100%;
}

main {
  background: url("/images/main-background.jpg") no-repeat center center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0);
  min-height: 100vh;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.4);
}
